<div id="patientTitle" class="col-lg-12 col-md-12 col-no-padding">
    <div id="patientDemographicsBtn" class="btn-group hidden-lg">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <i class="icon-user-2"></i> <span class="caret"></span>
        </button>
        <div id="patientDropdownNav" class="dropdown-menu" role="menu"></div>
    </div>
    <h2 class="hidden-xs" data-bind="html: nameForPageTitle"></h2>
    <h3 class="hidden-lg hidden-md hidden-sm" data-bind="html: nameForPageTitle"></h3>
</div>

<nav id="patientSideNav" class="col-lg-2 visible-lg"></nav>
@Html.Partial("~/Views/Patient/DemographicsPartial.cshtml")
<div data-bind="patientDemographics: $data" id="patientDemographicsControl"></div>

<div id="alertDialog" class="modal fade">
    <div class="modal-dialog">
        <div class="vertical-align-middle">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Save Patient</h4>
                </div>
                <div class="modal-body">
                    You must create and save a new patient before you can continue.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/patientDemographics")