@model Eyefinity.PracticeManagement.Model.Patient.PatientSearchResult
@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}

@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
<script type="text/javascript">
    var patient = JSON.parse('@Html.Raw(Json.Encode(Model))'),
        documentTitle = '@ViewBag.Title';
</script>
<!-- ALSCL-2291 - This is a comment to indicate if deployments are working correctly. -->

<div id="patientTitle" class="col-lg-12 col-md-12 col-no-padding">
    <div class="pull-right">
        <span id="spanTransferDemographicData" style="display:none;">
            <button id="btnTransferDemographicData" title="Transfer Demographics" class="btn btn-primary"><i class="icon-profile"></i>Transfer Demographics</button>
            &nbsp;
        </span>
        <button id="btnPrintAtGlance" title="Print" class="btn btn-primary pull-right"><i class="icon-print"></i>Print</button>
    </div>

    <div id="patientDemographicsBtn" class="btn-group hidden-lg">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <i class="icon-user-2"></i> <span class="caret"></span>
        </button>
        <div id="patientDropdownNav" class="dropdown-menu" role="menu"></div>
    </div>
    <h2 class="hidden-xs">Overview</h2>
    <h3 class="hidden-lg hidden-md hidden-sm">Overview</h3>
</div>

<nav id="patientSideNav" class="col-lg-2 visible-lg"></nav>

<form id="patientOverview"class="form-horizontal col-lg-10 col-md-12" onsubmit="return false;">
    <div class="row">
        <div id="patientPhoto">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div id="imgUploaderContainer">
                        <img id="logo" src="~/Content/themes/app/images/patient.png"/>
                    </div>
                    <div id="patientNameDOB">
                        <p class="bold" id="patientName" data-bind="text: fullName"></p>
                        <p id="dob" data-bind="text: dateOfBirth"></p>
                    </div>
                </div>
                <div id="patientInfo">
                <div id="patientDemographic" class="sm-patient col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <div class="form-group">
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-5 control-label ">
                            <label for="ID">Patient ID</label>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-7">
                            <label class="form-control-static">
                                <a href="#" id="patientUid" class="tt" tabindex="0" data-title="Patient ID" data-content="" data-trigger="focus" data-toggle="popover" data-bind="text: patientUidTruncated"></a>
                                <label class="hides" data-bind="text: patientUidTruncated"></label>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-5 control-label">
                            <label for="address">Address</label>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-7">
                            <label class="form-control-static">
                                <label id="address" data-bind="text: address"></label>
                            </label>
                            <div class="clear"></div>
                            <label class="form-control-static">
                                <label id="cityStateZip" data-bind="text: cityStateZip"></label>
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-5 control-label">
                            <label for="primaryPhone">Primary Phone</label>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-7">
                            <label class="form-control-static">
                                <label id="primaryPhone" data-bind="text: primaryPhone"></label>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-5 control-label">
                            <label for="secondPhone">Secondary Phone</label>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-7">
                            <label class="form-control-static">
                                <label id="secondPhone" data-bind="text: secondaryPhone"></label>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-5 control-label">
                            <label for="email">Email</label>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-7">
                            <label class="form-control-static">
                                <label id="email" data-bind="text: email"></label>
                            </label>
                        </div>
                    </div>
                </div>
                <div id="insuranceDetail" class="sm-patient col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-5 control-label">
                            <label for="hippa">HIPAA</label>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-7">
                            <label class="form-control-static">
                                <span class="quicklink_complete hidden"><i class="icon-checkmark-circle"></i></span>
                                <span class="quicklink_incomplete hidden"><i class="icon-checkmark-circle"></i></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-5 control-label">
                            <label for="provider">Provider</label>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-7">
                            <label class="form-control-static">
                                <label id="provider" data-bind="text: providerName"></label>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-5 control-label">
                            <label for="homeOffice">Primary Location</label>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-7">
                            <label class="form-control-static">
                                <label id="homeOffice" data-bind="text: homeOffice"></label>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-5 control-label">
                            <label for="primaryIns">Insurance One</label>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-7">
                            <label class="form-control-static">
                                <label id="primaryIns" data-bind="text: insuranceOne"></label>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-5 control-label">
                            <label for="secondIns">Insurance Two</label>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-7">
                            <label class="form-control-static">
                                <label id="secondIns" data-bind="text: insuranceTwo"></label>
                            </label>
                        </div>
                    </div>
                    <div class="form-group" data-bind="visible: showThirdInsurance">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-5 control-label">
                            <label for="thirdIns">Insurance Three</label>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-7">
                            <label class="form-control-static">
                                <label id="thirdIns" data-bind="text: insuranceThree"></label>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-5 control-label">
                            <label for="responsibleParty">Responsible Party</label>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-7">
                            <label class="form-control-static">
                                <label id="responsibleParty" data-bind="text: responsibleParty"></label>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-5 control-label">
                            <label for="lastExamDate">Last Exam Date</label>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-7">
                            <label class="form-control-static">
                                <label id="lastExamDate" data-bind="text: lastExamDate"></label>
                            </label>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clear-fix"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 hidden" id="patientBalanceOverview">
        <div class="balancewell well">
            <div class="row">

                <div  class="col-lg-4 col-md-4 col-sm-12" data-bind="visible: showOutstandingBalance">
                    <div>
                        <div class="demographics-icon-warn">
                            <i id="patientOutstandingBalanceIcon" class="icon icon-coin"></i>
                        </div>
                        Patient Balance <strong><span id="patientOutstandingBalance"  class="padding-2" data-bind="text: outstandingBalanceFormatted"></span></strong>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12" data-bind="visible: showPatientCredit">
                    <div>
                        <div class="demographics-icon-ok">
                            <i id="patientCreditIcon" class="icon icon-coin"></i>
                        </div>
                        Patient Credit Balance <strong><span id="patientCredit" class="padding-2" data-bind="text: patientCreditFormatted"></span></strong>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12" data-bind="visible: showInsuranceBalance">
                    <div>
                        <div class="demographics-icon-warn">
                            <i id="patientInsuranceBalanceIcon" class="icon icon-insurance"></i>
                        </div>
                        Insurance: Uncovered Balance <strong><span id="patientInsuranceBalance" class="padding-2" data-bind="text: patientInsuranceBalanceFormatted"></span></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="" class="overviewCenter well">
            <h4 style="margin-top: -5px">Notes</h4>
            <div>
                <table id="noteTable"></table>
            </div>
            <div data-bind="visible: showNotes">
                <a class="pull-right" data-bind="attr: { href: urgentNoteLink }">View All ></a>
            </div>
        </div>
        <div id="" class="overviewCenter well">
            <h4 style="margin-top: -5px">Appointments</h4>
            <div>
                <table id="appointmentsTable"></table>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    # of Cancellations <strong><span id="totalCancellations" class="padding-2" data-bind="text: totalCancellations"></span></strong>
                </div>
                <div class="col-lg-4  col-md-3 col-sm-3 col-xs-12">
                    # of No Shows <strong><span id="totalNoShows" class="padding-2" data-bind="text: totalNoShows"></span></strong>
                </div>
                <div class="col-lg-4" data-bind="visible: showAppointments">
                    <a class="pull-right" data-bind="attr: { href: appointmentsLink }">View All ></a>
                </div>
            </div>
        </div>
        <div id="" class="overviewCenter well">
            <h4 style="margin-top: -5px">Prescriptions (Rx)</h4>
            <div>
                <table id="rxTable"></table>
            </div>
            <div data-bind="visible: showPrescription">
                <a class="pull-right" data-bind="attr: { href: rxLink }">View All ></a>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="" class="overviewCenter well">
            <h4 style="margin-top: -5px">Family</h4>
            <div>
                <table id="dependentsTable"></table>
            </div>
            <div data-bind="visible: showDependents">
                <a class="pull-right" data-bind="attr: { href: relationshipLink }">View All ></a>
            </div>
        </div>
        <div id="" class="overviewCenter well">
            <h4 style="margin-top: -5px">Recall</h4>
            <div>
                <table id="recallTable"></table>
            </div>
            <div data-bind="visible: showRecall">
                <a class="pull-right" data-bind="attr: { href: recallLink }">View All ></a>
            </div>
        </div>
        <div id="" class="overviewCenter well">
            <h4 style="margin-top: -5px">Orders</h4>
            <div>
                <table id="ordersTable"></table>
            </div>
            <div data-bind="visible: showOrders">
                <a class="pull-right" data-bind="attr: { href: ordersLink }">View All ></a>
            </div>
        </div>
    </div>

</form>

@Styles.Render("~/content/themes/app/Patient/overview")
@Scripts.Render("~/bundles/patientOverview")
