<div class="form-horizontal">
    <div class="form-group">
    </div>
    <div class="form-group">
    </div>
    <div class="form-group">
        <div class="col-lg-12">
            Imported from Eyefinity EHR <span id="ehrImportDate" class="padding-2">mm/dd/yyyy</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-12">
            <table id="ehrCodesTable"></table>
        </div>
    </div>
    <br/>
    <div id="pqrsCodes" class="form-group">
        <div class="col-lg-12">
            <table id="ehrPqrsTable"></table>
        </div>
    </div>
    <div id="medConditions" class="form-group hidden">
        <div class="col-lg-12">
            <table id="ehrConditionsTable">
                <thead>
                    <tr>
                        <th colspan="4">Patient Medical Conditions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-12">
            Exam Memo:<br />
            <div id="ehrExamMemo"></div>
        </div>
    </div>
</div>