#quickListTable {
    padding-top: 10px;
}


.qldivider {
    height: 1px;
    margin: 1px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}


@media (max-width: 1023px) {
    #navQuickList{
        display:none;
     }
}

footer div.navbar  {
    z-index: 10;
}

@media print {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,
    .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
    .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-lg-2 {
        width: 10% !important;
    }

    .col-lg-4 {
        width: 30% !important;
    }

    .col-lg-6 {
        width: 50% !important;
    }

    .container {
        min-width: 2050px;
    }

   .pull-right {
        display: none;
    }

   #printModalHdr
    {
     height: auto; 
        margin:0; 
        font-family: geneva, arial, helvetica, sans-serif, bold;
    }
   
   body 
    {
     height: auto; 
        margin:0; 
        font-family: geneva, arial, helvetica, sans-serif;
    }
    a[href]:after {
    content: none !important;
   }
   .container {
        min-width: 2850px
    }
  
   body 
    {
        height: auto; 
        margin:0; 
        font-family: geneva, arial, helvetica, sans-serif;
    }
   .hides {
       display: inline;
   }
}